<template>
    <v-avatar :color="getAvatarColor(user.firstName)" class="white--text" :size=size>
        {{user.username[0].toUpperCase()}}
    </v-avatar>
</template>
<script>
    import {getAvatarColor} from "../../util/Colors";

    export default {
        name: 'UserAvatar',
        props: {
            user: {},
            size:{
                default:50,
                type:Number
            }
        },
        methods:{
            getAvatarColor
        }
    }
</script>
