<template>
    <v-card>
        <v-toolbar
                dense
                color="secondary"
                dark

                extended
                extension-height="300"
                flat
        >
            <v-toolbar-title  class="mx-auto" slot="extension">
                <v-container>
                    <div  class="display-1  text-wrap ">Bienvenido al CCAT </div>
                    <div class="text-center">Más que un centro</div>
                    <v-row  class="wrap">
                        <v-col >
                            <v-btn target="_blank" href="https://www.facebook.com/ccat.pe" icon large fab color="white" class="outine-2">
                                <v-icon>mdi-facebook</v-icon>
                            </v-btn>
                        </v-col>
                        <v-col >
                            <v-btn icon  target="_blank"  href="https://www.instagram.com/ccat.pe/" large fab color="white" class="outine-2">
                                <v-icon>mdi-instagram</v-icon>

                            </v-btn>
                        </v-col>
                        <v-col >
                            <v-btn icon   target="_blank" href="https://www.linkedin.com/company/ccatpe/" large fab color="white" class="outine-2">
                                <v-icon>mdi-linkedin</v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-toolbar-title>
        </v-toolbar>

       <v-card-text v-if="isAuthenticated">
           <Options :links="links"/>
       </v-card-text>
    </v-card>
</template>

<script>
    import Options from "./Options";
    import {mapState} from "vuex";


    export default {
        name:'MenuOptions',
        components: {Options},
        data() {
            return {
                links: [
                    {
                        id: '1',
                        icon:'mdi-account',
                        title: 'Mi cuenta',
                        description: '',
                        color: 'teal',
                        to:'account'
                    },
                    {
                        id: '2',
                        icon:'mdi-theater',
                        title: 'Asambleas',
                        description: '',
                        color: 'red',
                        to:'asambleas'
                    },

                ],
            }
        },
        computed:{
            ...mapState("auth",{isAuthenticated:"isAuthenticated"
            }),
        }
    }
</script>

<style scoped>
    .outine-2 {
        border: 2px solid white;
    }

    .learn-more-btn {
        text-transform: initial;
        text-decoration: underline;
    }
</style>
