<template>
    <v-col xs="12" sm="6" md="6" lg="6" >
        <v-hover>
            <v-card :to="item.to" slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`">
                <v-img
                        src=""
                        position="center"
                        aspect-ratio="2.75"
                        height="125px"
                        :class="item.color"
                >
                    <v-icon class="align-center" size="100px">{{item.icon}}</v-icon>
                </v-img>

                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">{{item.title}}</h3>
                        <div>
                            {{item.description}}
                        </div>
                    </div>
                </v-card-title>


            </v-card>
        </v-hover>
    </v-col>
</template>
<script>
    export default {
        name: 'OptionMenu',
        props:{
            item:{

            }
        }
    }
</script>
