<template>
    <v-container>
        <v-row>
            <v-col  md="8" class="offset-md-2 xs12">
                <v-card flat class="card--flex-toolbar" color="transparent">
                    <v-container fluid grid-list-lg>
                        <v-row  class="wrap">
                            <v-col class="xs12">
                                <h2 class="white--text">Opciones</h2>
                            </v-col>
                        </v-row>
                        <v-row  >
                            <OptionMenu class="mx-auto my-2" v-for="item in links" :key="item.id" :item="item"/>
                        </v-row>
                    </v-container>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
    import OptionMenu from "./OptionMenu"

    export default {
        name: 'Options',
        components: {OptionMenu},
        props: {
            links: {}
        }
    }
</script>
<style scoped>
    .card--flex-toolbar {
        margin-top: -124px;
    }
</style>
