<template>
    <v-app-bar

            color="primary"
            dark

            :clipped-left="clipped"
            fixed
            app
    >
        <template v-if="!isAuthenticated">
            <base-app-logo></base-app-logo>
        </template>

        <template v-else>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />


        </template>
        <v-spacer/>
        <v-toolbar-items>
            <template v-if="isAuthenticated">
                <v-btn
                        icon
                        @click.stop="miniVariant = !miniVariant"
                >
                    <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
                </v-btn>
                <v-btn
                        icon
                        @click.stop="clipped = !clipped"
                >
                    <v-icon>mdi-application</v-icon>
                </v-btn>
                <v-btn icon>
                    <v-icon>mdi-apps</v-icon>
                </v-btn>
                <v-btn icon>
                    <v-icon>mdi-bell</v-icon>
                </v-btn>
            </template>
            <template v-else-if="$vuetify.breakpoint.smAndUp" >
                <v-btn
                        to="login"
                        text
                >
                    <span class="mr-2">Iniciar Sesión</span>
                    <v-icon>mdi-open-in-new</v-icon>
                </v-btn>
                <v-btn
                        to="signup"
                        text
                >
                    <span class="mr-2">Registrarse</span>
                    <v-icon>mdi-open-in-new</v-icon>
                </v-btn>

            </template>
            <v-app-bar-nav-icon v-else @click.stop="drawerRight = !drawerRight"/>
        </v-toolbar-items>





    </v-app-bar>
</template>
<script>
    import {layout} from "../../store/modules/layout";
    import {mapGetters, mapState} from "vuex";
    import BaseAppLogo from "@/components/base/BaseAppLogo";

    export default {
        name: 'TheAppBar',
        components: {BaseAppLogo},
        computed:{
            ...mapState("auth",{
                isAuthenticated:"isAuthenticated"
            }),
            drawerRight:{
                get(){
                    return this.$store.state.layout.drawerRight;
                },
                set(value){
                    this.$store.commit("layout/updateDrawerRight",value)
                }
            },
            clipped:{
                get(){
                    return this.$store.state.layout.clipped;
                },
                set(value){
                    this.$store.commit("layout/updateClipped",value)
                }
            },miniVariant:{
                get(){
                    return this.$store.state.layout.miniVariant;
                },
                set(value){
                    this.$store.commit("layout/updateMiniVariant",value)
                }
            },
            drawer:{
                get(){
                    return this.$store.state.layout.drawer
                },
                set(value){
                    console.log(value)
                    this.$store.commit("layout/updateDrawer",value)
                }
            }
        },
        methods:{
            async logout() {

                try {
                    await this.$store.dispatch("auth/logout");

                    this.$router.replace('/login');
                } catch (e) {
                    console.log(e)

                }

            },
        }
    }
</script>
