<template>
    <v-navigation-drawer
            v-if="drawerRight"
            v-model="drawerRight"
            app
            clipped
            right
    >
        <v-list dense>
            <v-list-item
                    v-for="item in routes"
                    :key="item.title"
                    :to="item.to"
                    link
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>
<script>

    export default {
        name: 'TheDrawerRigth',
        data:()=>({
            routes: [
                { title: 'Iniciar Sesión', to:'/login' ,icon: 'mdi-home-city', isAdmin:false },
                { title: 'Crear Cuenta', to:'/signup', icon: 'mdi-account', isAdmin:false },
            ],
        }),
        computed:{

            rigth:{
                get(){
                    return this.$store.state.layout.right;
                },
                set(value){
                    this.$store.commit("layout/updateRight",value)
                }
            },
            drawerRight:{
                get(){
                    return this.$store.state.layout.drawerRight
                },
                set(value){
                    console.log(value)
                    this.$store.commit("layout/updateDrawerRight",value)
                }
            }
        },
        methods:{
            setRight(right){
                console.log(right);
                this.$store.commit("layout/updateRight",right)

            }
        }
    }
</script>
