<template>
    <v-container>
        <requeriments v-if="addInformation" :dialog="dialog">

        </requeriments>
        <Polls v-else :polls="polls"/>

    </v-container>

</template>

<script>
    import {mapActions, mapState} from "vuex";
    import Polls from "../components/votaciones/Polls";
    import {auth} from "../store/modules/auth";
    import Requeriments from "../components/asambleas/Requeriments";

    export default {
        name: "Asambleas",
        components: {Requeriments, Polls},
        data:()=>({
            addInformation:false,
            dialog:false

    }),
    created () {
        if(!this.currentUser.voterAvailable){
            this.addInformation=true;
            this.dialog=true
        }
    },
    mounted() {
    this.pullPolls()
    },
    computed:{
    ...mapState("polls",{polls:"polls"}),
    ...mapState("auth",{currentUser:"currentUser"})
    },
    methods:{
    ...mapActions("polls",{
            pullPolls:"pullPolls"
        })
    }
    }
</script>

<style scoped>

</style>
