<template>
  <v-container>
    <menu-options></menu-options>


  </v-container>
</template>

<script>
  // @ is an alias to /src
  import Polls from "../components/votaciones/Polls";
  import {mapActions, mapState} from "vuex";
  import MenuOptions from "../components/homeOptions/Menu";

  export default {
  name: 'Home',
  components: {
    MenuOptions,
    Polls
  }
}
</script>
