
    <template>
        <v-container class="fill-height" fluid>
            <v-row align="center" justify="center">
                <v-col  sm="12" xl="8" lg="8" md="8">
                    <v-card elevation="12">
                        <v-card-text>
                            <v-window id="window" v-model="activeTab">
                                <transition name="slide-fade"  mode="out-in">
                                    <router-view/>
                                </transition>
                            </v-window>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </template>


<script>
    import WindowsViewItem from "../components/WindowsViewItem";
    import LoginForm from "../components/login/LoginForm";
    import TheWindowView from "../components/TheWindowView";
    import CardLogin from "../components/login/CardLogin";

    export default {
        name: "LoginAndRegister",
        components: {WindowsViewItem, LoginForm, TheWindowView, CardLogin},
        props: ["id"],
        data() {
            return {
                activeTab: `${this.id}`,
                tabs: [
                    { id: 1, name: "Login", route: `${this.id}/login` },
                    { id: 2, name: "Register", route: `${this.id}/signup` }
                ]
            };
        }
    }
</script>

<style scoped>
    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 15%;
    }
</style>
