<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <v-col  sm="12" xl="4" lg="4" md="4">
                <reset-password-window/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ResetPasswordForm from "../components/resetPassword/ResetPasswordForm";
    import ResetPasswordWindow from "../components/resetPassword/ResetPasswordWindow";

    export default {
        name: "ResetPassword",
        components: {ResetPasswordWindow, ResetPasswordForm}
    }
</script>

