<template>
    <router-link
            :to="{ name: 'home' }"
            aria-label="Página de Inicio"
            class="d-flex align-center text--primary"
            style="text-decoration: none;"
            title="Página de Inicio"
            @click.native="$vuetify.goTo(0)"
    >
        <v-img
                :src="require(`@/assets/logo-${!theme.isLigth ? 'dark' : 'light' }.png`)"
                alt="Vuetify Logo"
                class="shrink mr-2"
                contain
                transition="scale-transition"
                width="40"
        />
        <v-img
                :src="require(`@/assets/logo-name-${!theme.isLight ? 'dark' : 'light' }.png`)"
                alt="Vuetify Logo"
                class="shrink mr-2"
                contain
                transition="scale-transition"
                width="140"
        />


    </router-link>
</template>

<script>
    export default {
        name: 'BaseAppLogo',
        inject: ['theme'],
    }
</script>
