<template>
    <v-card
            class="mx-auto"
            max-width="500"
    >
        <v-card-title class="title font-weight-regular justify-space-between">
            <span>{{ currentTitle }}</span>
            <v-avatar
                    color="primary lighten-2"
                    class="subheading white--text"
                    size="24"
                    v-text="step"
            ></v-avatar>
        </v-card-title>

        <v-window v-model="step">
            <v-window-item :value="1">
                <v-card-text >
                    <span> Introduce la direccion de correo de electronico en el campo inferior para restablecer tu contraseña</span>
                </v-card-text>

                <v-card-text>
                    <ResetPasswordForm @success="step++" ref="form"/>
                </v-card-text>
            </v-window-item>


            <v-window-item :value="2">
                <div class="pa-4 text-center">
                    <v-img
                            class="mb-4"
                            contain
                            height="128"
                            src="https://cdn.vuetifyjs.com/images/logos/v.svg"
                    ></v-img>
                    <h3 class="title font-weight-light mb-2">Enviado!</h3>
                    <span class="caption grey--text">El enlace para restablecer tu contaseña fue enviado a su correo!</span>
                </div>
            </v-window-item>
        </v-window>
    </v-card>
</template>

<script>
    import ResetPasswordForm from "./ResetPasswordForm";
    export default {
        name: "ResetPasswordWindow",
        components: {ResetPasswordForm},
        data: () => ({
            step: 1,

        }),
        computed: {

            currentTitle () {
                switch (this.step) {
                    case 1: return 'Restablecimiento de contraseña'
                    default: return 'Finalizado'
                }
            },
        }
    }
</script>

<style scoped>

</style>
