<template>
    <v-form @submit.prevent="submitForm">
        <v-overlay   :absolute="true" :value="isLoading"/>
        <v-text-field
                v-model="$v.email.$model"
                :error-messages="emailErrors"
                label="Ingrese tu correo electrónico"
        >

        </v-text-field>
        <v-btn :disabled="isLoading" type="submit" block color="info">
            Recuperar
        </v-btn>
    </v-form>
</template>
<script>
    import {required,email} from "vuelidate/lib/validators";
    import {mapActions} from "vuex";

    export default {
        name: 'ResetPasswordForm',
        data: () => ({
            email: '',
            isLoading:false
        }),
        validations: {
            email:{required,email
            }

        },
        computed:{

            emailErrors () {
                const errors = [];
                if (!this.$v.email.$dirty)
                    return errors;
                !this.$v.email.required && errors.push('Rellene este campo');
                !this.$v.email.email && errors.push('Email invalido');
                return errors
            },
        },
        methods:{
            ...mapActions("auth",{
                resetPassword:"resetPassword"
            }),
            async submitForm() {
                this.$v.$touch();
                if (this.$v.$invalid)
                    return;

                try {
                    this.isLoading=true;
                  let reponse=  await this.resetPassword(this.email)
                    this.$emit("success")
                } catch (e) {
                    const data = await e.json();
                    this.$toast.error(data.message, {
                        title: "Restablecimiento Fallido",
                        outlined: true
                    });
                }finally {
                    this.isLoading=false;
                }
            }
        }
    }
</script>
