<template>
    <v-window-item >
        <v-row>
            <slot></slot>
        </v-row>
    </v-window-item>
</template>

<script>
    import WindowsViewItem from "./WindowsViewItem";
    import LoginForm from "./login/LoginForm";

    export default {
        name: "TheWindowView",
        components: {LoginForm, WindowsViewItem},
        props:{
          route:Number
        },
        data:()=>({

        })
    }
</script>

