<template>
    <v-card
            class="mx-auto"
            max-width="600"

    >
        <v-card-title class="headline">Publica aquí</v-card-title>

        <v-card-subtitle></v-card-subtitle>

        <v-card-actions>
           <create-poll :dialog.sync="dialog" :edited-item="editedItem" :close="close" :save="save"></create-poll>
        </v-card-actions>

    </v-card>
</template>
<script>
    import CreatePoll from "./DialogCreatePoll";
    import {mapActions} from "vuex/dist/vuex.esm.browser";
    import {mapState} from "vuex";
    export default {
        name: 'CreatePublication',
            components: {CreatePoll},
            data: () => ({
                dialog: false,
                headers: [
                    {
                        text: 'Titulo',
                        align: 'start',
                        sortable: false,
                        value: 'titulo',
                    },
                    { text: 'Fecha de Creacion', value: 'createdAt',sortable:true },
                    { text: 'Fecha Actualizacion', value: 'updatedAt',sortable:true },
                    { text: 'N° de Votaciones', value: 'listaVotacion',sortable:true },
                    { text: 'Finalizado', value: 'endendAt',sortable:true },
                    { text: 'Acciones', value: 'actions', sortable: false },
                ],
                editedIndex: -1,
                editedItem: {
                    titulo: '',
                    descripcion: 0
                },
                defaultItem: {
                    titulo: '',
                    descripcion: 0
                },
            }),

                computed: {
                formTitle () {
                    return this.editedIndex === -1 ? 'Nueva Asamblea' : 'Editar asamblea'
                },
            ...mapState("asambleas",{asambleas:"asambleas"})
            },

            watch: {
                dialog (val) {
                    console.log(val)
                    val || this.close()
                },
            },

            async created() {

                await this.initialize()


        },

        methods: {
            ...mapActions("asambleas",{pullAsambleas:"pullAsambleas"}),
            async initialize () {
                await this.pullAsambleas();
            },

            editItem (item) {
                this.editedIndex = this.asambleas.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.asambleas.indexOf(item)
                confirm('Are you sure you want to delete this item?') && this.asambleas.splice(index, 1)
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.asambleas[this.editedIndex], this.editedItem)
                } else {
                    this.asambleas.push(this.editedItem)
                }
                this.close()
            },
        },
    }
</script>
