<template>
    <v-list-item  class="grow pa-0">
        <v-list-item-avatar  size="50" color="info">
            <UserAvatar :user="creator"/>
        </v-list-item-avatar>

        <v-list-item-content >
            <v-col class="ma-0 pa-0" cols="10">
                {{creator.firstName}} <span class="v-label theme--light text-no-wrap">  @{{creator.username}}</span>

            </v-col>
            <v-col class="ma-0 pa-0 float-right text-right" cols="2">
                <slot>

                </slot>
            </v-col>

            <v-list-item-action-text> {{formatDateTime(creationDateTime)}}</v-list-item-action-text>
        </v-list-item-content>
    </v-list-item>
</template>
<script>
    import UserAvatar from "../user/UserAvatar"
        import {formatDateTime} from "../../util/Helpers";

    export default {
        name: 'PollCreator',
        components: {UserAvatar},
        props: {
            creator: {},
            creationDateTime: {},
        },
        methods:{
            formatDateTime
        }
    }
</script>
