<template>
    <v-container>

        <CreatePublication v-if="user.power==='ROLE_ADMIN,'"/>
        <br/>
        <votacion v-for="poll in polls.content " :key="poll.id" :poll="poll">

        </votacion>

        <v-pagination
                v-model="page"
                :length="polls.totalPages"
        ></v-pagination>
    </v-container>
</template>
<script>
    import Votacion from "./Votacion"
    import CreatePublication from "./CreatePublication";
    import {mapState} from "vuex";

    export default {
        name: 'Polls',
        components: {CreatePublication, Votacion},
        computed:{
            ...mapState("polls",{polls:"polls"}),
            ...mapState("auth",{user:"user"}),
            page:{
                get(){
                    this.polls.page+1;
                },
                async set(page) {
                    if(page!=(this.polls.page+1))
                    await this.$store.dispatch("polls/pullPolls", {pageNumber: (page - 1)})
                    console.log(page)
                }
            }
        }
    }
</script>
