<template>
    <v-list-item class="pa-0" :choice="choice">
        <v-progress-linear
                :value=" Math.round(calculatePercentage(choice) * 100) / 100"
                :color="isWinner?winnerColor:color"
                class="v-card v-card--outlined"
                height="32"
        >
            <v-row>
                <v-col class="ma-4 blue-grey--text text--darken-4">
                    <strong class="text-left">{{ Math.round(calculatePercentage(choice) * 100) / 100 }}%</strong>
                    {{choice.text}}
                </v-col>
            </v-row>
        </v-progress-linear>
    </v-list-item>
</template>
<script>
    export default {
        name: 'VoteResult',
        props: {
            isWinner:{
                type:Boolean,
                default:false
            },
            choice: {},
            totalVotes: {},
            color:{
                default:'blue lighten-2'
            },
            winnerColor:{
                default:'blue'
            }
        },
        methods:{
            calculatePercentage(choice){
                if(this.totalVotes === 0) {
                    return 0;
                }
                return (choice.voteCount*100)/(this.totalVotes);
            }
        }
    }
</script>
