<template>
<v-container>
    <admin-asambleas/>
</v-container>
</template>

<script>
    import AdminAsambleas from "../../components/asambleas/AdminAsambleas";
    export default {
        name: "Asambleas",
        components: {AdminAsambleas}
    }
</script>

<style scoped>

</style>
