<template>
    <v-data-table
            :headers="headers"
            :items="asambleas"
            sort-by="calories"
            class="elevation-1"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Asambleas</v-toolbar-title>
                <v-divider
                        class="mx-4"
                        inset
                        vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-dialog  max-width="500px" v-model="deleteDialog">
                    <delete-asamblea :deletedItem="deletedItem" :dialog.sync="deleteDialog"></delete-asamblea>
                </v-dialog>
                <CrearAsamblea :close="close" :dialog.sync="dialog" :edited-item="editedItem" :form-title="formTitle"
                              :save="save"/>

            </v-toolbar>
        </template>
        <template v-slot:item.createdAt="{ item }">
            <div >{{formatDateTime(item.createdAt)}}</div>
        </template>
        <template v-slot:item.updatedAt="{ item }">
            <div >{{formatDateTime(item.updatedAt)}}</div>
        </template>

        <template v-slot:item.endendAt="{ item }">
            <v-icon v-if="!item.endedAt" color="red">{{ 'mdi-close'}}</v-icon>
            <div v-else >{{formatDateTime(item.endedAt)}}</div>
        </template>
        <template v-slot:item.actions="{ item }">
            <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
            >
                mdi-pencil
            </v-icon>
            <v-icon
                    small
                    class="mr-2"
                    @click="deleteItem(item)"
            >
                mdi-delete
            </v-icon>
            <v-icon v-if="!item.endedAt"
                    small
                    class="mr-2"
                    @click="finalizeItem(item)"
            >
                mdi-clock
            </v-icon>
        </template>
    </v-data-table>
</template>
<script>
    import {mapActions} from "vuex/dist/vuex.esm.browser";
    import CrearAsamblea from "./CrearAsamblea";
    import {mapState} from "vuex";
        import {formatDateTime} from "../../util/Helpers";
    import DeleteAsamblea from "./DeleteAsamblea";

    export default {
        name: "AdminAsambleas",
        components: {DeleteAsamblea, CrearAsamblea},
        data: () => ({
            deleteDialog:false,
            dialog: false,
            headers: [
                {
                    text: 'Titulo',
                    align: 'start',
                    sortable: false,
                    value: 'titulo',
                },
                { text: 'Fecha de Creacion', value: 'createdAt',sortable:true },
                { text: 'Fecha Actualizacion', value: 'updatedAt',sortable:true },

                { text: 'Finalizado', value: 'endendAt',sortable:true },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
            editedIndex: -1,
            editedItem: {
                titulo: '',
                descripcion: ''
            },
            defaultItem: {
                titulo: '',
                descripcion: ''
            },
            deletedItem:{

            }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Nueva Asamblea' : 'Editar asamblea'
            },
            ...mapState("asambleas",{asambleas:"asambleas"})
        },

        watch: {
            dialog (val) {
                console.log(val)
                val || this.close()
            },
        },

        async created() {

            await this.initialize()


        },

        methods: {
            formatDateTime,
            ...mapActions("asambleas",{
                pullAsambleas:"pullAsambleas",deleteAsambleas:'deleteAsambleas',
            finalizeAsamblea:"finalizeAsamblea"}),
            async initialize () {
                await this.pullAsambleas();
            },

            editItem (item) {
                this.editedIndex = this.asambleas.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },
            async finalizeItem(item) {
                const index = this.asambleas.indexOf(item)
                confirm('Estas seguro de finalizar la asamblea') && await this.finalizeAsamblea(item.id);
                this.initialize()
            },

            deleteItem (item) {
                this.deletedItem = Object.assign({}, item)
                this.deleteDialog=true
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save () {
                if (this.editedIndex > -1) {
                    Object.assign(this.asambleas[this.editedIndex], this.editedItem)
                } else {
                    this.asambleas.push(this.editedItem)
                }
                this.close()
            },
        },
    }
</script>

