<template>
    <v-dialog v-model="innerDialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Nueva Asamblea</v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" >
                            <v-text-field v-model="title" label="Titulo"></v-text-field>
                        </v-col>
                        <v-col cols="12" >
                            <v-textarea v-model="description" label="Descripcion"></v-textarea>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="saveAsamblea">Guadar</v-btn>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import {mapActions} from "vuex";

    export default {
        name: 'CrearAsamblea',
        props: {
            close: {},
            dialog: {},
            editedItem: {},
            formTitle: {},
            save: {}
        },
        data:()=>({
            description:'',
            title:'',
            innerDialog:''
        }),
        methods:{
            updateProp(propName,value){
                this.$emit('update:'+propName, value)
            },
            ...mapActions("asambleas",{
                newAsamblea:"newAsamblea"
            }),
            saveAsamblea(){
                this.newAsamblea({titulo:this.title ,descripcion:this.description,listaVotacion:[]})
                this.close();
            }
        },
        watch:{
            editedItem:{
                immediate: true,
                    handler (val, oldVal){
                    this.description=this.editedItem.descripcion
                        this.title=this.editedItem.titulo
                }

            },
            innerDialog(value){
                this.updateProp('dialog',value)
            },
            dialog(value){
                if(this.innerDialog!=value)
                this.innerDialog=value
            }
        }
    }
</script>
