<template>
        <v-card :loading="isLoading">
            <v-form v-model="valid" @submit.prevent="save" ref="form">

            <v-card-title>
                <span class="headline">Eliminar Asamblea</span>
            </v-card-title>

            <v-card-text>

                    <div>
                        ¿Estas seguro de eliminarlo?
                    </div>
                    Se perderán los datos de las votaciones realizadas
                    <div>
                        Por favor ingrese su contraseña:
                    </div>
                    <v-text-field :rules="[(a)=>!!a||'Es requerido']" v-model="password" label="Contraseña"></v-text-field>

            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" type="submit" dark >Eliminar</v-btn>
                <v-btn color="blue"  dark @click="close">Cancelar</v-btn>
            </v-card-actions>
            </v-form>

        </v-card>
</template>
<script>
    import {mapActions} from "vuex";

    export default {
        name: 'DeleteAsamblea',
        props: {
            dialog: {
                default:false,

            },
            deletedItem: {},
        },
        created() {
          this.innerDialog=this.dialog;
        },
        data:()=>({
            password:'',
            innerDialog:false,
            valid:true,
            isLoading:false
        }),
        methods:{
            updateProp(propName,value){
                this.$emit('update:'+propName, value)
            },
            ...mapActions("asambleas",{
                deleteAsamblea:"deleteAsamblea"
            }),
            async save() {
                this.$refs.form.validate()
                if(!this.valid) return
                this.isLoading=true
                try{
                    let data =   await this.deleteAsamblea({password: this.password, idAsamblea: this.deletedItem.id})

                    this.close()
                }catch (e) {
                    let response = await e.json();
                    this.$toast.error(response.message,{
                        title:'Error'
                    })
                }finally {
                    this.isLoading=false
                }


            },
            close(){
                this.password=''
                this.innerDialog=false

            }
        },
        watch:{
            innerDialog(value){
                this.updateProp('dialog',value)
            },
            dialog(value){
                if(this.innerDialog!=value)
                    this.innerDialog=value
            }
        }
    }
</script>
