<template>
    <v-form
        id="loginForm"
        ref="loginForm"
        @submit.prevent="submitForm()"
    >
        <v-row>
            <v-col cols="6">
               <!-- <f-text-field
                        ref="inut"
                        v-model="registerForm"
                          :validates="[{
                              name:'isUnique',
                              rule:isUnique,
                              errorMessage:'Está en uso'
                          },
                          {
                              name:'required',
                              rule: required,
                              errorMessage:'Está en uso'
                          }]"
                >

                </f-text-field>-->
                <v-text-field
                        color="secondary"
                        prepend-icon="mdi-account-circle"
                        v-model="$v.registerForm.firstName.$model"
                        label="Nombres"
                        :error-messages="getErrorMessages('firstName')"
                        placeholder="Ejemplo: Juan Carlos "
                        name="firstName"
                        type="text"
                />
            </v-col >
            <v-col cols="6">
                <v-text-field
                        color="secondary"
                        prepend-icon="mdi-account-circle"
                        v-model="$v.registerForm.lastName.$model"
                        :error-messages="getErrorMessages('lastName')"
                        label="Apellidos"
                        placeholder="Ejemplo: De la Cruz "
                        name="login"
                        type="text"
                />

            </v-col>

            <v-col cols="6">
                <v-text-field
                        id="password"
                        :error-messages="getErrorMessages('email')"
                        v-model.trim="$v.registerForm.email.$model"
                        label="Correo Electronico"
                        placeholder="Ejemplo: jdelacruz@company.com"
                        name="password"
                        prepend-icon="mdi-mail"
                />
            </v-col>
            <v-col cols="6" >
                <v-text-field
                        id="password"
                        :error-messages="getErrorMessages('username')"
                        v-model="$v.registerForm.username.$model"
                        label="Ingresa tu Usuario"
                        placeholder="Ejemplo: jdelacruz"
                        name="password"
                        prepend-icon="mdi-mail"
                />
            </v-col>
           <v-col cols="6">
               <v-text-field
                       id="password"
                       v-model="$v.registerForm.password.$model"
                       :error-messages="getErrorMessages('password')"
                       label="Contraseña"
                       placeholder="Ingresa tu contraseña"
                       name="password"
                       prepend-icon="mdi-lock"
                       :append-icon="showPassword?'mdi-eye': 'mdi-eye-off'"
                       :type="showPassword ? 'text' : 'password'"
                       @click:append="showPassword = !showPassword"
               />


           </v-col>
           <v-col cols="6">
               <v-text-field
                       id="password"
                       v-model="$v.registerForm.verifyPassword.$model"
                       :error-messages="getErrorMessages('verifyPassword')"
                       label="Verifica tu contraseña"
                       placeholder="Ingresa tu contraseña"
                       name="password"
                       prepend-icon="mdi-lock"
                       :append-icon="showPassword?'mdi-eye': 'mdi-eye-off'"
                       :type="showPassword ? 'text' : 'password'"
                       @click:append="showPassword = !showPassword"
               />
           </v-col>
       </v-row>


        <v-card-actions>
            <v-btn block color="secondary"  type="submit">Registrarse</v-btn>
        </v-card-actions>
    </v-form>
</template>

<script>
    import {mapActions} from "vuex";
    import FTextField from "../form/FTextField";
    import { required,email, minLength, sameAs } from 'vuelidate/lib/validators'
    export default {
        name: "RegisterForm",
        components: {FTextField},
        validations:{
            registerForm: {
                password: {
                    required, minLength6:minLength(6),

                },
                verifyPassword: {
                    sameAsPassword: sameAs("password")
                },
                username: {
                    required,
                    minLength5: minLength(5)
                },
                email: {
                    required, email
                },
                firstName: {
                    required
                },
                lastName: {
                    required
                }
            },
        },
        data:()=>({
                errorMessages:{
                  required:  'Rellene este campo',
                    email: 'Email Inválido',
                    minLength6:'Minimo 6 caracteres',
                    minLength5:'Minimo 5 caracteres',
                    sameAsPassword:'Su contraseña no coincide'
                },
                registerForm: {
                    password: '',
                    verifyPassword:null,
                    username: '',
                    email: '',
                    firstName: '',
                    lastName: ''
                },
                showPassword:false
            }),
        methods:{
            getErrorMessages(key){
                let errors=[]
                if (!this.$v.registerForm[key].$dirty)
                    return errors;
                Object.keys(this.$v.registerForm[key].$params).forEach(ky=>{
                    if(!this.$v.registerForm[key][ky])
                    errors.push(this.errorMessages[ky])
                })
                return errors;
            },
            ...mapActions("auth",{register:"register"}),
            async submitForm() {
                this.$v.$touch();
                if(this.$v.$error)
                    return
                this.$refs.loginForm.validate()
                try {
                    let data = await this.register(this.registerForm);
                    this.$toast.success(data.message,{
                        title:"Registro Exitoso",
                        outlined:true
                    });
                    await this.$router.push('login');
                }catch (e) {
                    console.log(e)
                    this.$toast.error(e.message,{
                        title:"Error de registro",
                        outlined:true
                    });
                }

            }
        },
    }
</script>

<style scoped>

</style>
