<template>
    <the-window-view :route="2">
        <windows-view-item cols="12" md="4" class="secondary accent-3">
            <v-card-text class="white--text mt-12">
                <h1 class="text-center display-1">Forma parte de nuestra Familia</h1>
                <h5 class="text-center">Unete</h5>
            </v-card-text>
            <div class="text-center">
                <v-btn rounded outlined dark to="/login">Iniciar sesión</v-btn>
            </div>
        </windows-view-item>
        <windows-view-item cols="12" md="8">
            <v-card-text class="">
                <h1 class="text-center display-2 text--secondary text--accent-3">
                    Unete al CCAT
                </h1>
                <div class="text-center  mt-4">
                    <v-btn class="mx-2" icon color="black" outlined>
                        <v-icon>mdi-facebook</v-icon>
                    </v-btn>
                    <v-btn class="mx-2" icon color="black" outlined>
                        <v-icon>mdi-google</v-icon>
                    </v-btn>
                    <v-btn class="mx-2" icon color="black" outlined>
                        <v-icon>mdi-linkedin</v-icon>
                    </v-btn>
                </div>
                <h4 class="text--accent-3"></h4>
            </v-card-text>
            <register-form></register-form>
        </windows-view-item>
    </the-window-view>
</template>

<script>
    import CardLogin from "../login/CardLogin";
    import TheWindowView from "../TheWindowView";
    import WindowsViewItem from "../WindowsViewItem";
    import RegisterForm from "./RegisterForm";

    export default {
        name: "Register",
        components: {RegisterForm, WindowsViewItem, TheWindowView, CardLogin},
    }
</script>

<style scoped>

</style>
