<template  >
    <the-window-view >
        <windows-view-item cols="12" md="8">
            <v-card-text class="mt-12">
                <h1 class="text-center display-2 text--secondary text--accent-3">
                    Bienvenido a la Plataforma del CCAT
                </h1>
                <div class="text-center  mt-4">
                    <v-btn class="mx-2" icon color="black" outlined>
                        <v-icon>mdi-facebook</v-icon>
                    </v-btn>
                    <v-btn class="mx-2" icon color="black" outlined>
                        <v-icon>mdi-google</v-icon>
                    </v-btn>
                    <v-btn class="mx-2" icon color="black" outlined>
                        <v-icon>mdi-linkedin</v-icon>
                    </v-btn>
                </div>
                <h4 class="text--accent-3"></h4>
            </v-card-text>
            <LoginForm/>
        </windows-view-item>
        <windows-view-item cols="12" md="4" class="secondary accent-3">
            <v-card-text class="white--text  mt-12">

                <h2 class="text-center display-1">¿Aún no tienes cuenta?</h2>
                <h1 class="text-center headline">Forma parte de nuestra Familia</h1>
            </v-card-text>
            <div class="text-center" >
                <v-btn rounded  outlined dark  to="/signup">Click Aquí</v-btn>
            </div>

        </windows-view-item>
    </the-window-view>
</template>

<script>
    import CardLogin from "./CardLogin";
    import TheWindowView from "../TheWindowView";
    import LoginForm from "./LoginForm";
    import WindowsViewItem from "../WindowsViewItem";

    export default {
        name: "login",
        components: {WindowsViewItem, LoginForm, TheWindowView, CardLogin},
    }
</script>

