<template>
    <v-form
        id="loginForm"
        @submit.prevent="submitForm()"
    >
        <v-text-field
                color="secondary"
                prepend-icon="mdi-account-circle"
                label="Usuario o Email"
                placeholder="Ingrese su usuario o correo"
                name="login"
                type="text"
                v-model.trim="$v.loginForm.usernameOrEmail.$model"
                :error-messages="usernameOrEmailErrors"
        />

        <v-text-field
                id="password"
                v-model="$v.loginForm.password.$model"
                label="Contraseña"
                placeholder="Ingresa tu contraseña"
                name="password"
                prepend-icon="mdi-lock"
                :append-icon="showPassword?'mdi-eye': 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                @click:append="showPassword = !showPassword"
                messages="Recupera tu contraseña"
                :error-messages="passwordErrors"
        >
            <template slot="message">
                <router-link to="/resetPassword">¿Olvidaste tu contraseña?</router-link>
            </template>
        </v-text-field>

                <v-checkbox
                        class="text-right v-btn--right "
                        id="rememberMe"
                        label="Recuerdame"
                        name="rememberMe"
                        v-model="loginForm.rememberMe"
                />
        <v-card-actions>
            <v-spacer/>
            <v-btn block color="secondary" :loading="submitStatus=='PENDING'"  type="submit">Iniciar Sesión</v-btn>
        </v-card-actions>
    </v-form>
</template>

<script>
    import {mapActions} from "vuex";
    import { required, minLength, between } from 'vuelidate/lib/validators'
    export default {
        name: "LoginForm",
        validations: {
            loginForm:{
                usernameOrEmail: { required },
                password: { required },
            }

        },
        computed:{
            usernameOrEmailErrors () {
                const errors = [];
                if (!this.$v.loginForm.usernameOrEmail.$dirty)
                    return errors;
                !this.$v.loginForm.usernameOrEmail.required && errors.push('Rellene este campo');
                return errors
            },
            passwordErrors () {
                const errors = [];
                if (!this.$v.loginForm.password.$dirty)
                    return errors;
                !this.$v.loginForm.password.required && errors.push('Rellene este campo');
                return errors
            },
        },
        data:()=>(
            {
                submitStatus:'',
                loginForm: {
                    password: '',
                    usernameOrEmail: '',
                    verifyCode: '',
                    rememberMe: false
                },
                showPassword:false
            }),
        methods:{
            ...mapActions("auth",{login:"login"}),
            async submitForm() {
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                try {
                    this.submitStatus = 'PENDING'
                    await this.login(this.loginForm);
                    await this.$router.replace('/');
                    this.submitStatus = 'OK';
                }catch (e) {

                    this.submitStatus = 'ERROR'
                    const data = await  e.json()
                    this.$toast.error(data.message,     {
                        title:"Inicio de Sesión Fallido",
                        outlined:true
                    });
                }finally {
                    {

                    }
                }
                }

            }
        }
    }
</script>

<style scoped>

</style>
