<template>
  <v-app >
    <update-notification></update-notification>
    <VNotification/>
    <TheDrawerRigth v-if="!isAuthenticated"/>

    <TheAppBar/>

    <TheDrawerLeft v-if="isAuthenticated"/>



    <v-content>

        <router-view></router-view>

    </v-content>

  </v-app>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from './components/HelloWorld.vue';
import TheDrawerLeft from "./components/layout/TheDrawerLeft.vue";
import TheDrawerRigth from "./components/layout/TheDrawerRigth.vue";
import TheAppBar from "./components/layout/TheAppBar.vue";
import {mapActions, mapState} from "vuex";
import UpdateNotification from "@/components/UpdateNotification.vue";


@Component({
  components: {
    UpdateNotification,
    TheAppBar,
    TheDrawerRigth,
    TheDrawerLeft,
    HelloWorld,
  },
  computed:{
    ...mapState("auth",{
  isAuthenticated:"isAuthenticated"
})

}
})
export default class App extends Vue {


}
</script>
